:root{
    --bg-1:hsl(217, 28%, 15%);
    --bg-2:hsl(218, 28%, 13%);
    --bg-3: hsl(219, 30%, 18%);
    --footer: hsl(216, 53%, 9%);
    --white: hsl(0, 0%, 100%);
    --white-hover: hsl(0, 0%, 75%);
    --cyan:hsl(176, 68%, 64%);
    --blue:hsl(198, 60%, 50%);
    --red: hsl(0, 100%, 63%);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--bg-1);
    color: var(--white);
    font-family: "Raleway", sans-serif;
}
p{
    font-family: "Open sans";
}
section.features,
section.description,
section.testimonials,
section.frmSignIn {
    background-color: var(--bg-2);
}
footer{
    background-color: var(--footer);
}
/*NAV*/
ul li a.nav-link{
    color: var(--white);
}
ul li a.nav-link:hover{
    color: var(--white-hover);
}
.logo{
    width: 130px;
}

/*INTRO*/
section.intro{
    text-align: center;
}
section.intro img{
    width: 350px;
}
section.intro h1{
    font-size: 35px !important;
    font-weight: 700;
}
section.intro p{
    font-size: 95%;
}
section.intro button{
    font-size: 12px;
    color: var(--white);
    background: linear-gradient(to right, var(--cyan), var(--blue));
    transition: background 0.5s;
}
section.intro button:hover{
    background: linear-gradient(to left, var(--cyan), var(--blue));
}
.img-curvy{
    margin-top: -200px !important;
    width: 100%;
}
/*features*/
section.features h3{
    font-size: 20px;
    font-weight: 600;
}
section.features p{
    font-size: 85%;
}
section.features article{
    padding-bottom: 50px;
    padding-top: 0px;
}
/*description*/
section.description h2{
    font-size: 27px !important;
    font-weight: 600;
}
section.description p{
    font-size: 85%;
}
section.description img.img-description{
    width: 90%;
}
.link-description{
    color: var(--cyan);
}
.div-img-description{
    text-align: center;
}
/*testimonials*/
img.bg-quotes{
    margin-top: -30px !important;
    margin-left: -10px !important;
}
section.testimonials p{
    font-size: 85%;
}
img.profile{
    border-radius:150px;
    height: 40px;
}
section.testimonials h5{
    line-height: 0px !important;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 3px !important;
}
section.testimonials span{
    line-height: 0px !important;
    font-size: 10px;
    font-weight: 200;
    margin-bottom: 0px !important;
}
.div-bg{
    background-color: var(--bg-3);
    color: var(--white);
}
/*form*/
section.frmSignIn h2{
    font-size: 27px !important;
    font-weight: 600;
}
section.frmSignIn p{
    font-size: 85%;
}
section.frmSignIn button{
    font-size: 12px;
    color: var(--white);
    background: linear-gradient(to right, var(--cyan), var(--blue));
    transition: background 0.5s;
}
section.frmSignIn button:hover{
    background: linear-gradient(to left, var(--cyan), var(--blue));
}
.div-frm{
    margin-bottom: -100px;
    background-color: var(--bg-1);
    color: var(--white);
}
.input-frm::placeholder{
    padding-left: 20px;
    font-size: 12px;
    color: var(--white-hover);
}
/*FOOTER*/
.footer-div{
    padding-top: 150px;
    padding-bottom: 100px;
}
div.about ul,
div.info ul{
    list-style: none;
    padding-left:0;
}
div.about a,
div.info a,
div.networks a{
    text-decoration: none;
    color: white;
}
div.about a:hover,
div.info a:hover,
div.networks a:hover{
    color: var(--white-hover);
}

/**/
@media(max-width: 992px){
    div.div-testimonial-2, 
    div.div-testimonial-3{
        padding-top: 25px;
        padding-bottom: 0px;
    }
    .div-btn-form{
        padding-top: 10px;
    }
}
@media(max-width: 770px){
    .img-curvy{
        margin-top: -125px !important;
    }
    section.features article{
        padding-top: 25px;
        padding-bottom: 0px;
    }
    section.description div.div-description{
        /*TOP LEFT BOTTOM RIGHT*/
        padding: 40px 25px 0px 25px;
    }
    div.div-testimonial-2, 
    div.div-testimonial-3{
        padding-top: 25px;
        padding-bottom: 0px;
    }
    .div-btn-form{
        padding-top: 10px;
    }
    .fab{
        font-size: 25px;
    }
}
@media(max-width: 450px){
    .logo{
        width: 70px;
    }
    section.intro img{
        width: 250px;
    }  
    .img-curvy{
        margin-top: -90px !important;
    }
    div.div-testimonial-2, 
    div.div-testimonial-3{
        padding-top: 25px;
        padding-bottom: 0px;
    }
    .div-btn-form{
        padding-top: 10px;
    }
    div.networks il{
        font-size: 10px;
    }
}

/*
@media(max-width: 360px){
    .logo{
        width: 50px;
    }
    ul li a.nav-link{
        padding: 5px !important;
    }
    nav div.container-fluid{
        --bs-gutter-x: 0 !important;
    }
}
DESDE 360PX da problema*/